body {
  background-color: #fff;
font-family: sans-serif;
  color: #ffffff;
  font-size: 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  background-image: url('https://static.pexels.com/photos/113885/pexels-photo-113885.jpeg');
  background-position: 2900px 1900px;;
}
h1 {
  padding: 90px 0px 0px 0px;
  text-align: center;
}
h2 {
  padding: 0px 0px 60px 0px;
  text-align: center;
  font-size: 20px;
  
}
button {
  border-color: #28315C;
  background-color: #ffffff;
  color: #000000;
  font-size: 30px;
}
#quoteDisplay {
  padding: 30px 9px 30px 9px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
 
}
